# EXTRACT TRANSFORM LOAD (ETL)

## 1. Import and Load

In [1]:
# Import dependencies

import os
import pandas as pd
import numpy
import psycopg2
from sqlalchemy import *
from sqlalchemy import create_engine, func
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

import sys
sys.path.insert(1, '..')

from config import username, password, port, db_name

import time

In [3]:
# Import the Kaggle Dataset with correct folder location

file_path = "../resources/US_Accidents_June20.csv"
accident_df = pd.read_csv(file_path)
accident_df.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day

In [4]:
#Print count of  null values in all columns 

for column in accident_df.columns:
    print(f"Column {column} has {accident_df[column].isnull().sum()} null values")

Column ID has 0 null values
Column Source has 0 null values
Column TMC has 1034799 null values
Column Severity has 0 null values
Column Start_Time has 0 null values
Column End_Time has 0 null values
Column Start_Lat has 0 null values
Column Start_Lng has 0 null values
Column End_Lat has 2478818 null values
Column End_Lng has 2478818 null values
Column Distance(mi) has 0 null values
Column Description has 1 null values
Column Number has 2262864 null values
Column Street has 0 null values
Column Side has 0 null values
Column City has 112 null values
Column County has 0 null values
Column State has 0 null values
Column Zipcode has 1069 null values
Column Country has 0 null values
Column Timezone has 3880 null values
Column Airport_Code has 6758 null values
Column Weather_Timestamp has 43323 null values
Column Temperature(F) has 65732 null values
Column Wind_Chill(F) has 1868249 null values
Column Humidity(%) has 69687 null values
Column Pressure(in) has 55882 null values
Column Visibility(mi) has 75856 null values
Column Wind_Direction has 58874 null values
Column Wind_Speed(mph) has 454609 null values
Column Precipitation(in) has 2025874 null values
Column Weather_Condition has 76138 null values
Column Amenity has 0 null values
Column Bump has 0 null values
Column Crossing has 0 null values
Column Give_Way has 0 null values
Column Junction has 0 null values
Column No_Exit has 0 null values
Column Railway has 0 null values
Column Roundabout has 0 null values
Column Station has 0 null values
Column Stop has 0 null values
Column Traffic_Calming has 0 null values
Column Traffic_Signal has 0 null values
Column Turning_Loop has 0 null values
Column Sunrise_Sunset has 115 null values
Column Civil_Twilight has 115 null values
Column Nautical_Twilight has 115 null values
Column Astronomical_Twilight has 115 null values

## 2. Drop, Transform and Clean

In [5]:
#Drop null values from certain (important) rows

accident_dropna_df = accident_df.dropna(subset=['City', 'Zipcode', 'County', 'Temperature(F)', 'Weather_Condition'])

In [6]:
#Drop unneccessary columns

new_accident_df = accident_dropna_df.drop(['Source', 'TMC', 'End_Time', 'Airport_Code', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Wind_Chill(F)', 'Wind_Direction', 'Humidity(%)', 'Pressure(in)', 'Description', 'Number', 'Street', 'Side', 'Country', 'Timezone', 'Weather_Timestamp', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight'], axis=1)
new_accident_df.head()

,ID,Severity,Start_Time,Start_Lat,Start_Lng,City,County,State,Zipcode,Temperature(F),...,Give_Way,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop
0,A-1,3,2016-02-08 05:46:00,39.865147,-84.058723,Dayton,Montgomery,OH,45424,36.9,...,False,False,False,False,False,False,False,False,False,False
1,A-2,2,2016-02-08 06:07:59,39.928059,-82.831184,Reynoldsburg,Franklin,OH,43068-3402,37.9,...,False,False,False,False,False,False,False,False,False,False
2,A-3,2,2016-02-08 06:49:27,39.063148,-84.032608,Williamsburg,Clermont,OH,45176,36.0,...,False,False,False,False,False,False,False,False,True,False
3,A-4,3,2016-02-08 07:23:34,39.747753,-84.205582,Dayton,Montgomery,OH,45417,35.1,...,False,False,False,False,False,False,False,False,False,False
4,A-5,2,2016-02-08 07:39:07,39.627781,-84.188354,Dayton,Montgomery,OH,45459,36.0,...,False,False,False,False,False,False,False,False,True,False

In [7]:
new_accident_df.dtypes

ID                    object
Severity               int64
Start_Time            object
Start_Lat            float64
Start_Lng            float64
City                  object
County                object
State                 object
Zipcode               object
Temperature(F)       float64
Visibility(mi)       float64
Wind_Speed(mph)      float64
Precipitation(in)    float64
Weather_Condition     object
Amenity                 bool
Bump                    bool
Crossing                bool
Give_Way                bool
Junction                bool
No_Exit                 bool
Railway                 bool
Roundabout              bool
Station                 bool
Stop                    bool
Traffic_Calming         bool
Traffic_Signal          bool
Turning_Loop            bool
dtype: object

In [8]:
#Check for duplicates in ID

new_accident_df.duplicated(subset=['ID']).any()

False

In [9]:
# Convert Start_Time to datetypes

new_accident_df['Start_Time'] = pd.to_datetime(new_accident_df['Start_Time'], errors='coerce')

In [10]:
# Extract year, month, day, hour, and weekday
# %a = weekdays
# %H = 24-hours time

new_accident_df['Year'] = new_accident_df['Start_Time'].dt.year
new_accident_df['Month'] = new_accident_df['Start_Time'].dt.strftime('%B')
new_accident_df['Time'] = new_accident_df['Start_Time'].dt.strftime("%H")
new_accident_df['Part_of_Week'] = new_accident_df['Start_Time'].dt.strftime('%a')

In [11]:
#Convert Time column as integer, which will serve as a number for the day of the week

new_accident_df['Time'] = new_accident_df['Time'].astype(int)

In [12]:
new_accident_df

,ID,Severity,Start_Time,Start_Lat,Start_Lng,City,County,State,Zipcode,Temperature(F),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Year,Month,Time,Part_of_Week
0,A-1,3,2016-02-08 05:46:00,39.865147,-84.058723,Dayton,Montgomery,OH,45424,36.9,...,False,False,False,False,False,False,2016,February,5,Mon
1,A-2,2,2016-02-08 06:07:59,39.928059,-82.831184,Reynoldsburg,Franklin,OH,43068-3402,37.9,...,False,False,False,False,False,False,2016,February,6,Mon
2,A-3,2,2016-02-08 06:49:27,39.063148,-84.032608,Williamsburg,Clermont,OH,45176,36.0,...,False,False,False,False,True,False,2016,February,6,Mon
3,A-4,3,2016-02-08 07:23:34,39.747753,-84.205582,Dayton,Montgomery,OH,45417,35.1,...,False,False,False,False,False,False,2016,February,7,Mon
4,A-5,2,2016-02-08 07:39:07,39.627781,-84.188354,Dayton,Montgomery,OH,45459,36.0,...,False,False,False,False,True,False,2016,February,7,Mon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513612,A-3513776,2,2019-08-23 18:03:25,34.002480,-117.379360,Riverside,Riverside,CA,92501,86.0,...,False,False,False,False,False,False,2019,August,18,Fri
3513613,A-3513777,2,2019-08-23 19:11:30,32.766960,-117.148060,San Diego,San Diego,CA,92108,70.0,...,False,False,False,False,False,False,2019,August,19,Fri
3513614,A-3513778,2,2019-08-23 19:00:21,33.775450,-117.847790,Orange,Orange,CA,92866,73.0,...,False,False,False,False,False,False,2019,August,19,Fri
3513615,A-3513779,2,2019-08-23 19:00:21,33.992460,-118.403020,Culver City,Los Angeles,CA,90230,71.0,...,False,False,False,False,False,False,2019,August,19,Fri
3513616,A-3513780,2,2019-08-23 18:52:06,34.133930,-117.230920,Highland,San Bernardino,CA,92346,79.0,...,False,False,False,False,False,False,2019,August,18,Fri

In [13]:
# Cut 24 hour Time coloumn from a continuous variable (24 hours) to a categorical variable (1-5) for ease in ML
# 1 = Early Morning (3 am to 6:59 am)
# 2 = Morning (7 am to 10:59 am),
# 3 = Afternoon (11 am to 2:59 pm),
# 4 = Late Afternoon (3 pm to 6:59 pm),
# 5 = Night (7 pm to 10:59 pm),
# 6 = Late Night (11 pm to 2:59 am)

bins = [0,4,8,12,16,20,24]
labels = ['Late Night', 'Early Morning','Morning','Afteroon','Late Afternoon','Night']
new_accident_df['Time_of_Day'] = pd.cut(new_accident_df['Time'], bins= bins, labels=labels, include_lowest=True)

In [14]:
# Function for definning labels for 24 hour time coloumn

def f(x):
    if (x > 4) and (x <= 8):
        return 'Early Morning'
    elif (x > 8) and (x <= 12 ):
        return 'Morning'
    elif (x > 12) and (x <= 16):
        return'Afteroon'
    elif (x > 16) and (x <= 20) :
        return 'Late Afternoon'
    elif (x > 20) and (x <= 24):
        return'Night'
    elif (x <= 4):
        return'Late Night'

In [15]:
# Apply function for time sections

new_accident_df['Time_of_Day'] = new_accident_df['Time'].apply(f)
new_accident_df

,ID,Severity,Start_Time,Start_Lat,Start_Lng,City,County,State,Zipcode,Temperature(F),...,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Year,Month,Time,Part_of_Week,Time_of_Day
0,A-1,3,2016-02-08 05:46:00,39.865147,-84.058723,Dayton,Montgomery,OH,45424,36.9,...,False,False,False,False,False,2016,February,5,Mon,Early Morning
1,A-2,2,2016-02-08 06:07:59,39.928059,-82.831184,Reynoldsburg,Franklin,OH,43068-3402,37.9,...,False,False,False,False,False,2016,February,6,Mon,Early Morning
2,A-3,2,2016-02-08 06:49:27,39.063148,-84.032608,Williamsburg,Clermont,OH,45176,36.0,...,False,False,False,True,False,2016,February,6,Mon,Early Morning
3,A-4,3,2016-02-08 07:23:34,39.747753,-84.205582,Dayton,Montgomery,OH,45417,35.1,...,False,False,False,False,False,2016,February,7,Mon,Early Morning
4,A-5,2,2016-02-08 07:39:07,39.627781,-84.188354,Dayton,Montgomery,OH,45459,36.0,...,False,False,False,True,False,2016,February,7,Mon,Early Morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513612,A-3513776,2,2019-08-23 18:03:25,34.002480,-117.379360,Riverside,Riverside,CA,92501,86.0,...,False,False,False,False,False,2019,August,18,Fri,Late Afternoon
3513613,A-3513777,2,2019-08-23 19:11:30,32.766960,-117.148060,San Diego,San Diego,CA,92108,70.0,...,False,False,False,False,False,2019,August,19,Fri,Late Afternoon
3513614,A-3513778,2,2019-08-23 19:00:21,33.775450,-117.847790,Orange,Orange,CA,92866,73.0,...,False,False,False,False,False,2019,August,19,Fri,Late Afternoon
3513615,A-3513779,2,2019-08-23 19:00:21,33.992460,-118.403020,Culver City,Los Angeles,CA,90230,71.0,...,False,False,False,False,False,2019,August,19,Fri,Late Afternoon
3513616,A-3513780,2,2019-08-23 18:52:06,34.133930,-117.230920,Highland,San Bernardino,CA,92346,79.0,...,False,False,False,False,False,2019,August,18,Fri,Late Afternoon

In [16]:
new_accident_df['Time_of_Day'].value_counts()

Early Morning     916231
Afteroon          800840
Morning           711613
Late Afternoon    682635
Late Night        157086
Night             156939
Name: Time_of_Day, dtype: int64

In [17]:
# Fill in all NA values with zeros (instead of mean values, or NA)

new_accident_df = new_accident_df.fillna(0)

In [18]:
#Replace original days of the week with "weekdays" and "weekend"

new_accident_df['Part_of_Week'] = new_accident_df['Part_of_Week'].str.replace('Mon', 'Weekday')
new_accident_df['Part_of_Week'] = new_accident_df['Part_of_Week'].str.replace('Tue', 'Weekday')
new_accident_df['Part_of_Week'] = new_accident_df['Part_of_Week'].str.replace('Wed', 'Weekday')
new_accident_df['Part_of_Week'] = new_accident_df['Part_of_Week'].str.replace('Thu', 'Weekday')
new_accident_df['Part_of_Week'] = new_accident_df['Part_of_Week'].str.replace('Fri', 'Weekday')
new_accident_df['Part_of_Week'] = new_accident_df['Part_of_Week'].str.replace('Sat', 'Weekend')
new_accident_df['Part_of_Week'] = new_accident_df['Part_of_Week'].str.replace('Sun', 'Weekend')

In [19]:
new_accident_df.head()

,ID,Severity,Start_Time,Start_Lat,Start_Lng,City,County,State,Zipcode,Temperature(F),...,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Year,Month,Time,Part_of_Week,Time_of_Day
0,A-1,3,2016-02-08 05:46:00,39.865147,-84.058723,Dayton,Montgomery,OH,45424,36.9,...,False,False,False,False,False,2016,February,5,Weekday,Early Morning
1,A-2,2,2016-02-08 06:07:59,39.928059,-82.831184,Reynoldsburg,Franklin,OH,43068-3402,37.9,...,False,False,False,False,False,2016,February,6,Weekday,Early Morning
2,A-3,2,2016-02-08 06:49:27,39.063148,-84.032608,Williamsburg,Clermont,OH,45176,36.0,...,False,False,False,True,False,2016,February,6,Weekday,Early Morning
3,A-4,3,2016-02-08 07:23:34,39.747753,-84.205582,Dayton,Montgomery,OH,45417,35.1,...,False,False,False,False,False,2016,February,7,Weekday,Early Morning
4,A-5,2,2016-02-08 07:39:07,39.627781,-84.188354,Dayton,Montgomery,OH,45459,36.0,...,False,False,False,True,False,2016,February,7,Weekday,Early Morning

In [20]:
#Drop uneeded columns and disected coloumns

cleaned_df = new_accident_df.drop(['Start_Time', 'Amenity', 'Station'], axis=1)

In [21]:
cleaned_df

,ID,Severity,Start_Lat,Start_Lng,City,County,State,Zipcode,Temperature(F),Visibility(mi),...,Roundabout,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Year,Month,Time,Part_of_Week,Time_of_Day
0,A-1,3,39.865147,-84.058723,Dayton,Montgomery,OH,45424,36.9,10.0,...,False,False,False,False,False,2016,February,5,Weekday,Early Morning
1,A-2,2,39.928059,-82.831184,Reynoldsburg,Franklin,OH,43068-3402,37.9,10.0,...,False,False,False,False,False,2016,February,6,Weekday,Early Morning
2,A-3,2,39.063148,-84.032608,Williamsburg,Clermont,OH,45176,36.0,10.0,...,False,False,False,True,False,2016,February,6,Weekday,Early Morning
3,A-4,3,39.747753,-84.205582,Dayton,Montgomery,OH,45417,35.1,9.0,...,False,False,False,False,False,2016,February,7,Weekday,Early Morning
4,A-5,2,39.627781,-84.188354,Dayton,Montgomery,OH,45459,36.0,6.0,...,False,False,False,True,False,2016,February,7,Weekday,Early Morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513612,A-3513776,2,34.002480,-117.379360,Riverside,Riverside,CA,92501,86.0,10.0,...,False,False,False,False,False,2019,August,18,Weekday,Late Afternoon
3513613,A-3513777,2,32.766960,-117.148060,San Diego,San Diego,CA,92108,70.0,10.0,...,False,False,False,False,False,2019,August,19,Weekday,Late Afternoon
3513614,A-3513778,2,33.775450,-117.847790,Orange,Orange,CA,92866,73.0,10.0,...,False,False,False,False,False,2019,August,19,Weekday,Late Afternoon
3513615,A-3513779,2,33.992460,-118.403020,Culver City,Los Angeles,CA,90230,71.0,10.0,...,False,False,False,False,False,2019,August,19,Weekday,Late Afternoon
3513616,A-3513780,2,34.133930,-117.230920,Highland,San Bernardino,CA,92346,79.0,7.0,...,False,False,False,False,False,2019,August,18,Weekday,Late Afternoon

In [22]:
#Keep 5 digit zipcodes

cleaned_df['Zipcode'] = cleaned_df['Zipcode'].str[:5]

In [23]:
#Rename coloumns and restructuring coloumn placement 

cleaned_df.rename(columns = {'Start_Lat':'Latitude', 'Start_Lng':'Longitude', 'Temperature(F)': 'Temperature_F', 'Wind_Speed(mph)': 'Wind_Speed_mph',
                              'Visibility(mi)': 'Visibility_miles', 'Precipitation(in)': 'Precipitation_inches', 'Bump': 'Speed_Bump', 'Crossing': 'Cross_Walk', 
                              'Give_Way': 'Yield_Sign', 'Junction': 'Intersection', 'Stop': 'Stop_Sign', 'Traffic_Calming': 'Traffic', 'Traffic_Signal': 'Traffic_Light', 
                              }, inplace = True)

In [33]:
cleaned_df

,ID,Severity,Latitude,Longitude,City,County,State,Zipcode,Temperature_F,Visibility_miles,...,Roundabout,Stop_Sign,Traffic,Traffic_Light,Turning_Loop,Year,Month,Time,Part_of_Week,Time_of_Day
0,A-1,3,39.865147,-84.058723,Dayton,Montgomery,OH,45424,36.9,10.0,...,False,False,False,False,False,2016,February,5,Weekday,Early Morning
1,A-2,2,39.928059,-82.831184,Reynoldsburg,Franklin,OH,43068,37.9,10.0,...,False,False,False,False,False,2016,February,6,Weekday,Early Morning
2,A-3,2,39.063148,-84.032608,Williamsburg,Clermont,OH,45176,36.0,10.0,...,False,False,False,True,False,2016,February,6,Weekday,Early Morning
3,A-4,3,39.747753,-84.205582,Dayton,Montgomery,OH,45417,35.1,9.0,...,False,False,False,False,False,2016,February,7,Weekday,Early Morning
4,A-5,2,39.627781,-84.188354,Dayton,Montgomery,OH,45459,36.0,6.0,...,False,False,False,True,False,2016,February,7,Weekday,Early Morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513612,A-3513776,2,34.002480,-117.379360,Riverside,Riverside,CA,92501,86.0,10.0,...,False,False,False,False,False,2019,August,18,Weekday,Late Afternoon
3513613,A-3513777,2,32.766960,-117.148060,San Diego,San Diego,CA,92108,70.0,10.0,...,False,False,False,False,False,2019,August,19,Weekday,Late Afternoon
3513614,A-3513778,2,33.775450,-117.847790,Orange,Orange,CA,92866,73.0,10.0,...,False,False,False,False,False,2019,August,19,Weekday,Late Afternoon
3513615,A-3513779,2,33.992460,-118.403020,Culver City,Los Angeles,CA,90230,71.0,10.0,...,False,False,False,False,False,2019,August,19,Weekday,Late Afternoon
3513616,A-3513780,2,34.133930,-117.230920,Highland,San Bernardino,CA,92346,79.0,7.0,...,False,False,False,False,False,2019,August,18,Weekday,Late Afternoon

In [25]:
# Keep on values from California, drop all other states

state='CA'
df_state=cleaned_df.loc[cleaned_df.State==state].copy()
df_state.drop('State',axis=1, inplace=True)
df_state.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 794937 entries, 728 to 3513616
Data columns (total 28 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    794937 non-null  object
 1   Severity              794937 non-null  int64
 2   Latitude              794937 non-null  float64
 3   Longitude             794937 non-null  float64
 4   City                  794937 non-null  object
 5   County                794937 non-null  object
 6   Zipcode               794937 non-null  object
 7   Temperature_F         794937 non-null  float64
 8   Visibility_miles      794937 non-null  float64
 9   Wind_Speed_mph        794937 non-null  float64
 10  Precipitation_inches  794937 non-null  float64
 11  Weather_Condition     794937 non-null  object
 12  Speed_Bump            794937 non-null  bool
 13  Cross_Walk            794937 non-null  bool
 14  Yield_Sign            794937 non-null  bool
 15  Intersection          794937 non-null  bool
 16  No_Exit               794937 non-null  bool
 17  Railway               794937 non-null  bool
 18  Roundabout            794937 non-null  bool
 19  Stop_Sign             794937 non-null  bool
 20  Traffic               794937 non-null  bool
 21  Traffic_Light         794937 non-null  bool
 22  Turning_Loop          794937 non-null  bool
 23  Year                  794937 non-null  int64
 24  Month                 794937 non-null  object
 25  Time                  794937 non-null  int32
 26  Part_of_Week          794937 non-null  object
 27  Time_of_Day           794937 non-null  object
dtypes: bool(11), float64(6), int32(1), int64(2), object(8)
memory usage: 114.5+ MB

## 3. Save and Import CSV

In [27]:
# Create cleaned output file (CSV)

output_data_file = "../resources/Cleaned_Accidents_Data_v4_CA_ONLY.csv"
df_state.to_csv(output_data_file, index=False)

In [2]:
#Access postgresSQL database with URL

db_string = f"postgresql://{username}:{password}@127.0.0.1:{port}/{db_name}"

In [31]:
#Connect to postgresSQL via engine

engine = create_engine(db_string)

#Test postgres importing table via chunked sized rows

rows_imported = 0

start_time = time.time()

for data in pd.read_csv(output_data_file, chunksize=50000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name="accidents_CA_only_v2_tbl", con=engine, if_exists='append')
    rows_imported += len(data)
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 50000...Done. 10.850847959518433 total seconds elapsed
importing rows 50000 to 100000...Done. 21.16127872467041 total seconds elapsed
importing rows 100000 to 150000...Done. 31.367558240890503 total seconds elapsed
importing rows 150000 to 200000...Done. 41.83163833618164 total seconds elapsed
importing rows 200000 to 250000...Done. 52.19134306907654 total seconds elapsed
importing rows 250000 to 300000...Done. 62.7229790687561 total seconds elapsed
importing rows 300000 to 350000...Done. 72.99222302436829 total seconds elapsed
importing rows 350000 to 400000...Done. 83.56579375267029 total seconds elapsed
importing rows 400000 to 450000...Done. 93.7238392829895 total seconds elapsed
importing rows 450000 to 500000...Done. 103.9193320274353 total seconds elapsed
importing rows 500000 to 550000...Done. 114.37866711616516 total seconds elapsed
importing rows 550000 to 600000...Done. 125.32266116142273 total seconds elapsed
importing rows 600000 to 650000...Done. 135.42476081848145 total seconds elapsed
importing rows 650000 to 700000...Done. 145.45652651786804 total seconds elapsed
importing rows 700000 to 750000...Done. 155.57762026786804 total seconds elapsed
importing rows 750000 to 794937...Done. 164.44513988494873 total seconds elapsed